src/main/resources/ProntipagosEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://prontipagos.ws.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://prontipagos.ws.com" name="ProntipagosTopUpServiceEndPoint">
<types>
<xsd:schema>
<xsd:import namespace="http://prontipagos.ws.com" schemaLocation="Prontipagos.xsd"/>
</xsd:schema>
</types>
<message name="balanceService">
<part name="parameters" element="tns:balanceService"/>
</message>
<message name="balanceServiceResponse">
<part name="parameters" element="tns:balanceServiceResponse"/>
</message>
<message name="sellService">
<part name="parameters" element="tns:sellService"/>
</message>
<message name="sellServiceResponse">
<part name="parameters" element="tns:sellServiceResponse"/>
</message>
<message name="obtainCatalogProducts">
<part name="parameters" element="tns:obtainCatalogProducts"/>
</message>
<message name="obtainCatalogProductsResponse">
<part name="parameters" element="tns:obtainCatalogProductsResponse"/>
</message>
<message name="checkStatusService">
<part name="parameters" element="tns:checkStatusService"/>
</message>
<message name="checkStatusServiceResponse">
<part name="parameters" element="tns:checkStatusServiceResponse"/>
</message>
<portType name="ProntipagosTopUpServiceEndPoint">
<operation name="balanceService">
<input wsam:Action="http://prontipagos.ws.com/ProntipagosTopUpServiceEndPoint/balanceServiceRequest" message="tns:balanceService"/>
<output wsam:Action="http://prontipagos.ws.com/ProntipagosTopUpServiceEndPoint/balanceServiceResponse" message="tns:balanceServiceResponse"/>
</operation>
<operation name="sellService">
<input wsam:Action="http://prontipagos.ws.com/ProntipagosTopUpServiceEndPoint/sellServiceRequest" message="tns:sellService"/>
<output wsam:Action="http://prontipagos.ws.com/ProntipagosTopUpServiceEndPoint/sellServiceResponse" message="tns:sellServiceResponse"/>
</operation>
<operation name="obtainCatalogProducts">
<input wsam:Action="http://prontipagos.ws.com/ProntipagosTopUpServiceEndPoint/obtainCatalogProductsRequest" message="tns:obtainCatalogProducts"/>
<output wsam:Action="http://prontipagos.ws.com/ProntipagosTopUpServiceEndPoint/obtainCatalogProductsResponse" message="tns:obtainCatalogProductsResponse"/>
</operation>
<operation name="checkStatusService">
<input wsam:Action="http://prontipagos.ws.com/ProntipagosTopUpServiceEndPoint/checkStatusServiceRequest" message="tns:checkStatusService"/>
<output wsam:Action="http://prontipagos.ws.com/ProntipagosTopUpServiceEndPoint/checkStatusServiceResponse" message="tns:checkStatusServiceResponse"/>
</operation>
</portType>
<binding name="ProntipagosTopUpServiceEndPointPortBinding" type="tns:ProntipagosTopUpServiceEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="balanceService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtainCatalogProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkStatusService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProntipagosTopUpServiceEndPoint">
<port name="ProntipagosTopUpServiceEndPointPort" binding="tns:ProntipagosTopUpServiceEndPointPortBinding">
<soap:address location="https://ws.prontipagos.mx/siveta-endpoint-ws-1.0-SNAPSHOT/ProntipagosTopUpServiceEndPoint"/>
</port>
</service>
</definitions>